html {
    scroll-behavior: smooth;
}

body {
    font-family: liter, sans-serif;
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
}


#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.header {
    height: 80vh;
}

.menu-wrapper {
    position: relative;
    top: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);

}

.menu a:hover {
    color: #ff85e9;
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: 0 15px;
    line-height: 3em;
    transition-property: color,text-decoration;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}


/*Mon h1*/

h1 {
    font-size: 2.5em;
    margin: 7em 6em;
    padding: 0;
    font-family: birds, sans-serif;
}
h1 span {
    text-transform: uppercase;
}
.main-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-txt a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: 0 15px;
    line-height: 3em;
}

.main-txt a img {
    height: 35%;
    width: 35%;
}

/*Realisation*/
.realisation {
    height: 120vh;
    background-image: url("../img/essai.jpg");
    background-position: 55% 55%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 3px 5px 0px #ff85e9;
    
}

.real-wrapper {
    width: 40vw;
    height: 50vh;
    background-color: white;
    margin-right: 7em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.real-port {
    align-self: flex-start;
    font-size: 1.5em;
    margin: 31px;
}

.p-port {
    padding: 10px;
    margin: 0 31px;
}

/*portfolio*/
.portfolio {
    width: 100%;
    margin: 25vh 0;
}

/*Gallery*/
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

}
.gallery a {
    max-height: 300px;
    max-width: 200px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;

}.gallery a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 5px black;
}

.gallery a img:hover {
    transform: scale(1.1);
}

/*prestations*/
.prestations {
    height: 90vh;
    background-color: #ff85e9;
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.prest-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prest-wrapper h2 {
    text-align: center;
    font-size: 3em;
    padding: 1em 0 0.8em 0;
    font-family: birds, sans-serif;
}

.carte-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 10%;
}

.carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    height: 50vh;
}

.carte-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.carte-body p {
    margin: 0 25px;
    text-align: center;
}

.carte-body h4 {
    font-size: 1.7em;
    margin: 0;
}

.carte h3 {
    font-size: 1.5em;
    margin: 0;
}



/*footer*/

.footer {
    height: 20vh;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}
.footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    box-sizing: border-box;
}

.footer-wrapper a {
    text-decoration: none;
    color: black;
    transition-property: color,text-decoration;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

}

.footer-wrapper a:hover {
    color: white;
    text-decoration: underline;
}

